.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.modal-actions button {
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal form label {
    display: block;
    margin-bottom: 10px;
}

.modal form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Tahoma, sans-serif;
}

.save-button {
    font-family: Tahoma, sans-serif;
    background-color: white;
    color: #00ABE4;
}

.cancel-button {
    font-family: Tahoma, sans-serif;
    background-color: white;
    color: #0d3e71;
}
