@use '../../scss/index' as *;

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $base-background-color;
}

h1 {
    font-size: 45px;
    color: $base-dark-blue-color;
}

.login-container {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 40px;
    background: $base-background-color;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: $base-font;
}

.login-form {
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: $base-light-blue-color;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.register-link {
    margin-top: 7px;
}

.register-link a {
    color: $base-dark-blue-color;
    text-decoration: none;
}
