@use '../../../scss/index' as *;

.order-card {
  @include base-product-and-service-card;
}

.order-details {
  flex: 1;
}

.order-id {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.order-createdAt {
  font-size: 16px;
  color: #383838;
  margin-bottom: 4px;
}

.order-daysToDeadline {
  font-size: 15px;
  color: #4d4d4d;
  margin-bottom: 16px;
}

.order-status {
  font-size: 16px;
  color: $base-dark-blue-color;
  margin-bottom: 16px;
}

.processing {
  color: $base-processing-status-color;
}

.canceled {
  color: $base-canceled-status-color;
}

.completed {
  color: $base-completed-status-color;
}

.order-clientName{
  font-size: 18px;
  color: $base-dark-blue-color;
  margin-bottom: 16px;
}

.order-options {
  position: relative;
  align-self: start;
  margin-left: auto;
  padding: 8px;
  cursor: pointer;
}

.order-options-button {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-options-menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: $base-font;
}

.order-option {
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.order-option:hover {
  background-color: $base-background-color;
}

