@use "../../../scss/index" as *;

.employee-card {
  box-shadow: $base-shadow;
  margin: 10px;
  padding: 10px;
  width: 350px;

  & .details {
    margin-bottom: 10px;
  }

  & button {
    margin-right: 10px;
    cursor: pointer;
  }
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
}

.edit-button {
  @include save-edit-button;
  background-color: transparent;
}

.delete-button {
  @include cancel-edit-button;
  background-color: transparent;
}
