.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    min-height: 100vh;
    background-color: #E9F1FA;
}
html {
    background-color: #E9F1FA;
}
body {
    background-color: #E9F1FA;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    margin-left: 280px;
    margin-right: 280px;
}

.tile {
    background: #E9F1FA;
    color: #0d3e71;
    border-radius: 15px;
    border-color: white;
    border-width: 10px;
    box-shadow: 0 2px 20px rgb(13, 62, 113, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Tahoma, sans-serif;
}

.tile:hover {
    transform: scale(1.02);
}

.tile.add-order {
    background-color: #00ABE4;
    color: white;
}

