@use '../../scss/index' as *;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    min-height: 100vh;
    background-color: $base-background-color;
}

html, body {
    background-color: $base-background-color;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    margin-left: 280px;
    margin-right: 280px;
}

.tile {
    background: white;
    color: $base-dark-blue-color;
    border-radius: 15px;
    border-color: white;
    border-width: 10px;
    box-shadow: $base-shadow;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: $base-font;
}

.tile:hover {
    transform: scale(1.02);
}

.tile.add-order {
    background-color: $base-light-blue-color;
    color: white;
}

