.search-add-container {
    position: sticky;
    top: 70px;
    z-index: 10;
    background-color: #E9F1FA;
    color: #E9F1FA;
    padding: 0 16px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 35px;
}

.clients-page {
    background-color: #E9F1FA;
}

.client-list {
    height: calc(100vh - 140px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 1300px;
    max-height: 500px;
    margin: auto;
    border-radius: 8px;
    background-color: #E9F1FA;
}

.home-clients {
    padding-top: 5px;
    min-width: 1300px;
    background-color: #E9F1FA;
}

.search-box {
    padding: 5px 5px;
    height: 35px;
    width: 500px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Tahoma, sans-serif;
}

.add-new-client-button {
    padding: 13px 10px;
    width: 200px;
    background-color: #00ABE4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    font-family: Tahoma, sans-serif;
}

button, input {
    margin: 0;
    padding: 0;
}
