@use '../../../scss/index' as *;

.client-card {
    background: #fff;
    box-shadow: $base-shadow;
    border-radius: 8px;
    padding: 16px;
    margin: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $base-font;
    min-height: 180px;
    overflow: hidden;
}

.company-name, .contact-name, .email {
    white-space: normal;
    overflow-wrap: break-word;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: $base-dark-blue-color;
    font-family: $base-font;
}

.contact-name {
    font-size: 16px;
    color: #666;
    margin-bottom: 4px;
    font-family: $base-font;
}

.email {
    font-size: 14px;
    color: #999;
    margin-bottom: 16px;
    font-family: $base-font;
}

.details-button {
    padding: 10px 20px;
    background-color: white;
    color: $base-light-blue-color;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: $base-font;
}
