@use '../../../scss/index' as *;

.modal-overlay {
  @include base-modal-overlay;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  max-width: 600px;
  width: 90%;
  font-family: $base-font;
  color: $base-dark-blue-color;
  overflow-y: auto;
  max-height: 90vh;
}

.order-status {
  font-size: 16px;
  color: $base-dark-blue-color;
  margin-bottom: 16px;
}

.processing {
  color: $base-processing-status-color;
}

.canceled {
  color: $base-canceled-status-color;
}

.completed {
  color: $base-completed-status-color;
}

.product-order-details, .service-order-details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3px;

  .order-details-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 25px;
    object-fit: contain;
  }

  .details-order-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (max-width: 600px) {
    .order-details-image {
      max-width: 20px;
      max-height: 20px;
      margin-right: 10px;
    }
  }

  .item-name .item-name p{
    margin: 0 0 10px 0;
    font-size: 1.25em;
  }
}

.product-order-details .details-order-text p,
.service-order-details .details-order-text p {
  margin-bottom: 0.001em;
  margin-top: 0.001em;
}
