.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    max-width: 500px;
    width: 90%;
    font-family: Tahoma, sans-serif;
}

.modal button {
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.edit-button {
    background-color: white;
    color: #59ce8f;
}

.edit-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-button {
    background-color: white;
    color: #ff1e00;
}

.delete-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    background-color: white;
    color: #ff1e00;
}

.close-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
