$base-dark-blue-color: #0d3e71;
$base-background-color: #e9f1fa;
$base-light-blue-color: #00abe4;
$base-processing-status-color: #318036;
$base-canceled-status-color: #db2613;
$base-completed-status-color: #e67b2e;
