@use '../../../scss/index' as *;

.home-add-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    margin-top: 200px;
    background-color: $base-background-color;
}

.add-service-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: $base-background-color;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $base-dark-blue-color;
}

.service-text {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    font-family: $base-font;
}

.add-service-form {
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.add-service-button {
    width: 100%;
    padding: 5px;
    background-color: $base-background-color;
    border: none;
    color: $base-light-blue-color;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 6px;
    font-family: $base-font;
}

.cancel-adding-service {
    width: 100%;
    padding: 5px;
    background-color: $base-background-color;
    border: none;
    color: $base-dark-blue-color;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 6px;
    font-family: $base-font;
}
